/* 

light blue color 	#a7ddea


*/

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
.hiden {
	display: none;
}


.section {
  text-align:center;
  font-size: 3em;
}
#callbacks-placeholder{
  position:fixed;top:50px;left:50px;color:black;z-index:999;
}

.phone_container {
	position: relative;
	
	z-index: 100;
	
}
.phone_frame {
	z-index: 100;

}
.phone_content {
    position: absolute;
    overflow: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 47px;
    
	width: 241px;
    height: 424px;
    z-index: -1;
}
.phone_content img { 
	width: 241px;
	z-index: 10;
 }
#animation1	{
	position:fixed;top:100px;left:100px;color:white;z-index:999;
	height: 200px;
	width: 400px;
	border: 1px solid red;
}
.images_main {
	height: 100vh;
	position: relative;
}
.img_container {
	position: relative;
	
	
  	margin: 0 auto;
	
	

}

.smarthphone  {
    width: 228px;
    float: right;
    position: absolute;
    bottom: 200px;
    left: 400px;
}
.tablet {
	width: 400px;
    float: right;
    position: absolute;
    bottom: 200px;
	


}
.lp_button_img {
	margin-left: -20px;
}


/*
	TYPOGRAPHY
*/
.content_container {
	text-align: left;
	padding: 100px 20px 100px
}

.lp_heading {
	font-size: 36px;
	font-weight: 700;
}
.lp_caption {
	font-size: 18px;
	font-weight: 300;
	
    width: 450px;
}
.lp_b_text {
	font-size: 24px;
	font-weight: 500;
}
.lp_notyfi {
	font-size: 12px;
	font-weight: 500;
}

.page2_left {
	background: #fff;
	height: 100vh;
	margin-top: -20px;
}



/*PAGE 2 */

.page2_logo {
	height: 100px;
}
.page2_left_container {
	padding: 50px;
	text-align: center;
}
.promo_img_container {

}
.page2_right {
	height: 100vh;
}
.screen_img {
	width: 300px;
	padding-left: 30px;
}

.promo_content_conteiner {
	padding: 100px 20px;
	margin-left: 50px;
	height: 523px;
	width: 30%;
	text-align: left;
}
.social {
	position: absolute;
	top: 20px;
	right: 50px;
	width: 200px;
	height: 50px;
	
}
.social img {
	
	height: 25px;
	margin-left: 20px;
	float: right;	
}